<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8"> 
        <title>Collection Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='collection.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <div class="container">
    <header>
      <h1>Collection</h1>
    </header>
            <hr>
        <p>Payment successful!</p>
        <div class="barcode"> 
            <img src="{{ url_for('static', filename='barcodes/' + barcode + '.png') }}" alt="Barcode: {{ barcode }}">
        </div>
        <p>Flash this barcode at the vending machine camera to collect your drink!</p>
        <button id="returnButton" onclick="location.href='{{ url_for('drink_page') }}'">Return</button>
    </div>

    
</body>
</html>
