<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8"> 
        <title>Drink Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='drink-page.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="header">
            {% if username %}
            <div class="user-info">
                Logged in: {{ username }}
            </div>
            {% endif %}
            <h1>Order Drink</h1>
        <button class="inbox-btn" onclick="location.href='{{ url_for('inbox') }}'">Inbox</button>
        <button class="logout-btn" onclick="location.href='{{ url_for('logout') }}'">Logout</button>
        </div>
        <hr>
        
                {% for drink in drinks %}
        <div class="drink-item">
            <img src="{{ url_for('static', filename=drink['image_url']) }}" alt="{{ drink['name'] }}" class="drink-image">
            <div class="drink-info">
                <h2>{{ drink['name'] }}</h2>
                <p><span class="price">${{ "%.2f"|format(drink['price']) }}</span></p>
                {% if drink['actual_stock'] > 0 %}
                <button class="purchase-btn" onclick="location.href='{{ url_for('payment', drink_id=drink['drink_id']) }}'">Purchase</button>
                {% else %}
                <button class="purchase-btn" disabled>Unavailable</button>
                {% endif %}
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>

    
</body>
</html>
