<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8"> 
        <title>Login Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body class="{{ 'admin-login-page' if is_admin_login else '' }}">
<form id="loginForm" class="box" method="POST" action="{{ url_for('admin_login') if is_admin_login else url_for('login') }}"> 
    <a href="{{ url_for('homepage') }}" class="return-button"> ← Return</a>
    <img src="{{ url_for('static', filename='images/vending-machine.png') }}" alt="Vending Machine Logo" class="logo">
    <h1>{{ "Admin Login" if is_admin_login else "Drink Vending Machine" }}</h1>
    <input type="text" id= "username" name="username" class="input-field" placeholder="Username" required>
    <input type="password" id="password" name="password" class="input-field" placeholder="Password" required>
<label class="show-password-label">
  <input type="checkbox" onclick="togglePassword()"> Show Password
</label>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <button type="submit" class="submit-btn">Enter</button>
</form>
<script>        
        function togglePassword() {
            const password = document.getElementById("password");

            if (password.type === "password") {
                password.type = "text";
            } else {
                password.type = "password";
            }
        }

        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();
            // The form will now submit to the Flask route
            this.submit();
        });
</script>
    </body>
</html>
